.about {
  padding: 2rem var(--gutter) 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gutter);
}

.imageWrapper {
  display: grid;
  place-items: center;
}

.image {
  width: 60%;
  height: auto;
  border-radius: 15px;
}

.content {
  margin-top: 2rem;
  font-size: 24px;
  line-height: 32px;
  color: var(--text);
  font-family: var(--font)
}

.content p + p {
  margin-top: 14px;
}

@media (max-width: 600px) {
  .about {
    grid-template-columns: 1fr;
    padding: 60px var(--gutter) 80px;
  }
  .spacer { display: none; }
}